/* style.css */
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

.main-ui {
  flex: 3;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

.main-ui canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.sidebar {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
}

.footer {
  padding: 10px;
}

.toggle-3d {
  width: 250px;
  height: 50px;
  border: 2px solid black;
  background-color: white;
  font-size: 1.1em;
  cursor: pointer;
}
.description {
  text-align: center; /* 텍스트 중앙 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* 수직 중앙 정렬 */
  align-items: center;      /* 수평 중앙 정렬 */
  flex: 1;
  padding: 10px;
}
#crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}
#stats {
  position: fixed;
  top: 100px; /* 원하는 값으로 변경 */
  left: 100px;
  z-index: 10000;
}
#loadingOverlay.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
    pointer-events: none;
}